<div class="card">
  <div class="card-body">
    <h5 class="card-title mb-5">
      Users
      <%= link_to "Add New", new_admins_user_path(@user), class: "btn btn-primary float-right" %>
    </h5>
    <div class="card-text">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Events</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                <%= user.name %>
              </td>
              <td>
                <%= user.email %>
              </td>
              <td>
                <%= link_to "Events", admins_user_events_path(user) %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
